.folder {
  width: 100%;
  height: 300px;
  border-radius: 8px 20px 20px 20px;
  filter: drop-shadow(0 0 0.85rem rgba(100, 100, 100, 0.6));
  transition: all 500ms ease-in-out;
  position: relative;
  background: #3972ed;
}

.folder:hover {
  filter: drop-shadow(0 0 1.8rem rgba(100, 100, 100, 0.6));
  transform: scale(1.05);
}

.folder::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 180px;
  height: 28px;
  background: #3972ed;
  border-radius: 20px 0 0 0;
  clip-path: path("M 0 0 L 150 0 C 170 3, 160 18, 180 28 L 0 50 z");
}

.folder::after {
  content: "";
  position: absolute;
  left: 35px;
  width: 75px;
  height: 6px;
  top: -16px;
  background: #3972ed;
  border-radius: 0 0 6px 6px;
}
